header
{
    background-color: var(--white-clr);
    width: 100%;
    padding: 28px 76px;
    border-bottom: 1px solid #E4E3EB;
}

header nav
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav button
{
    background-color: var(--blue-clr);
    border-radius: var(--border-radius-8);
    font-weight: var(--font-weight-500);
    color: var(--white-clr);
    height: 40px;
    width: fit-content;
    padding: 10px 20px;
}
header nav button:hover
{
    opacity: 0.8;
}