.add-blog-section
{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 240px;
    /* background-color: aqua; */
}
.add-blog-section button
{
    background-color: #E4E3EB;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.add-blog-section button i
{
    color: var(--dark-clr);
}
.add-blog-section button:hover
{
    opacity: 0.8;
    transform: scale(1.2);
}
.add-blog-container
{
    background-color: rgb(178, 162, 255);
    width: 600px;
}
.add-blog-container h1
{
    font-size: var(--font-size-32);
    margin-bottom: 40px;
    color: var(--dark-clr);
}
.image-upload-container label
{
    font-size: var(--font-size-14);
    color: var(--dark-clr);
    font-weight: var(--font-weight-500);
}
.image-upload-container .image-upload-area
{
    width: 100%;
    height: 180px;
    display: block;
    border: 1px dashed #85858D;
    background-color: #F4F3FF;
    margin-top: 8px;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-12);
    cursor: pointer;
}
.image-upload-area .img-view
{
    width: 100%;
    height: 100%;
    text-align: center;
}
.image-upload-area .img-view p
{
    color: var(--dark-clr);
}
.image-upload-area .img-view span
{
    font-weight: var(--font-weight-600);
    text-decoration: underline;
}
.form-container
{
    width: 100%;
    /* background-color: red; */
}
.input-container
{
    /* background-color: pink; */
}
.input-container label
{
    display: block;
    color: var(--dark-clr);
    font-size: var(--font-size-14);
    margin-bottom: 8px;
    font-weight: var(--font-weight-600);
}
.top-input-container
{
    display: flex;
    justify-content: space-between;
}
.input-container input, 
.input-container textarea
{
    background-color: #FCFCFD;
    border: 1px solid #E4E3EB;
    color: var(--dark-clr);
    padding-left: 16px;
    border-radius: var(--border-radius-12);
}
.input-container input
{
    width: 288px;
    height: 44px;
}
.input-container input::placeholder,
.input-container textarea::placeholder
{
    color: var(--gray-clr);
}
.input-container ul li
{
    color: var(--gray-clr);
}
.input-container textarea
{
    width: 100%;
    height: 124px;
    padding-top: 12px;
    resize: none;
}